body{
    background:#121212;
    color:white;
    font-family:Arial;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}


.login{
    background:#1d1d1d;
    padding:30px;
    width:300px;
    border-radius:10px;
}


input{
    width:100%;
    padding:12px;
    margin:8px 0;
    box-sizing:border-box;
}


button{
    width:100%;
    padding:12px;
    background:#1976D2;
    color:white;
    border:0;
    cursor:pointer;
}


h1{
    text-align:center;
}


#erro{
    color:red;
}