body{

margin:0;
background:#121212;
color:white;
font-family:Arial;

}


header{

height:60px;
background:#1d1d1d;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;

}


button{

background:#E53935;
border:0;
color:white;
padding:8px 15px;
cursor:pointer;

}


nav{

background:#252525;
padding:15px;
display:flex;
gap:15px;
flex-wrap:wrap;

}


nav a{

color:white;
text-decoration:none;
background:#1976D2;
padding:10px 20px;
border-radius:5px;

}


main{

padding:20px;

}


.cards{

display:flex;
gap:20px;
flex-wrap:wrap;

}


.cards div{

background:#1d1d1d;
padding:20px;
border-radius:10px;
width:250px;

}